/*
// /// / <!-- qdchoverm.css con Css3 by: Daniel Cajiga. -->
// /// / <!-- Testing  y Php by: qdevapps.com. -->
 */
<style type="text/css">
	ul.qmedialistClass
	{
		color:Red;
	}
	.qmedialistClass 
	{
		list-style-type:none;
		color:Green;
	}

</style>